@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}

* {
    box-sizing: border-box;
}

nav {
    background-color: #facc15;
    text-align: center;
    padding: 0.5rem;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

textarea {
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
}

button {
    background-color: #facc15;
    border: 1px solid;
    border-radius: 0.5rem;
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
    font-size: large;
}

#output {
    padding: 1rem;
    font-size: large;
    box-sizing: border-box;
    width: 100%;
    min-height: 15vh;
    overflow: scroll;
    border: 1px solid;
    border-radius: 0.5rem;
}

div {
    display: block;
}

footer {
    background-color: #facc15;
    text-align: center;
    padding: 2rem;
    margin-top: 1rem;
}

footer p {
    max-width: 600px;
    margin: auto;
    padding: 0.5rem;
}